.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.categorysTitle {
    margin-bottom: 2rem;
}

.categoryContainerForCards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2 2rem;
}